@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Single+Ink:wght@100..900&family=Comfortaa:wght@300..700&family=Press+Start+2P&family=Tiny5&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Single+Ink:wght@100..900&family=Comfortaa:wght@300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Press+Start+2P&family=Tiny5&display=swap');
* {
    margin: 0;
    padding: 0;
}
body {
    background-image: url("../img/fonport.jpg");
    font-family: "Press Start 2P", system-ui;   
    font-style: normal;
    color: rgb(255, 255, 255);
    font-size: calc(100vw / 14);
    display: block;
}
header nav ul a {
    color: rgb(255, 255, 255);
    -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease; 
    text-decoration: none;
    font-size: calc(100vw / 20);
}
header nav ul li a:hover {
    color: rgb(46, 160, 160);
    font-size: calc(100vw / 19);
}
header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-self: center;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}
header nav ul li {
    display: inline-block;
    margin: 0 auto;
    padding-top: 2.5%;
    padding-bottom: 2.5%
}
header nav {
    display: block;
    background-color: rgb(0, 0, 0, 0.5);
    background-position: center;
    margin: 0 auto;
}
aside {
    text-align: center;
    display: block;
    background-color: rgb(0, 0, 0, 0.5);
    background-position: center;
    width: 92%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    margin-top: calc(100vw / 1.4);
}
aside h1 {
    font-size: calc(100vw / 18);
}
aside p {
    font-size: calc(100vw / 22);
    margin-top: 2%;
    color: #2980a8;
    font-family: "Press Start 2P", system-ui;   
}